CREATE DATABASE QL_NHASACH
GO
use QL_NHASACH
GO
CREATE TABLE TB_QUYEN
(
	MAQUYEN INT CONSTRAINT pk_QUYEN PRIMARY KEY,
	TENQUYEN NVARCHAR(50) UNIQUE NOT NULL
)
GO
CREATE TABLE TB_TAIKHOAN
(
	ID INT IDENTITY(1,1)CONSTRAINT pk_TAIKHOAN PRIMARY KEY,
	TAIKHOAN VARCHAR(50) UNIQUE NOT NULL,
	MATKHAU VARCHAR(50) NOT NULL,
	MAQUYEN INT NOT NULL,
	HOTEN NVARCHAR(200) NOT NULL,
	NGAYSINH DATE NOT NULL,
	DIACHI NVARCHAR(200) NOT NULL,
	EMAIL VARCHAR(50) NOT NULL,
	GIOITINH BIT NOT NULL,
	SODIENTHOAI VARCHAR(10) NOT NULL,	
)
GO
ALTER TABLE TB_TAIKHOAN 
ADD CONSTRAINT fk_maQuyen
FOREIGN KEY (MAQUYEN) REFERENCES TB_QUYEN(MAQUYEN)
ON DELETE CASCADE
ON UPDATE CASCADE;
GO
CREATE TABLE TB_THELOAI
(
	MALOAI CHAR(10) CONSTRAINT pk_THELOAI PRIMARY KEY,
	TENLOAI NVARCHAR(50) UNIQUE NOT NULL
)
GO
CREATE TABLE TB_SACH
(
	MASACH CHAR(10) CONSTRAINT pk_SACH PRIMARY KEY,
	TENSACH NVARCHAR(50) UNIQUE NOT NULL,
	MALOAI CHAR(10) NOT NULL,
	NAMXUATBAN INT NOT NULL,
	TACGIA NVARCHAR(150) NOT NULL,
	GIA FLOAT NOT NULL,
	SOLUONG INT NOT NULL
)
GO
ALTER TABLE TB_SACH 
ADD CONSTRAINT fk_maLoai
FOREIGN KEY (MALOAI) REFERENCES TB_THELOAI(MALOAI)
ON DELETE CASCADE
ON UPDATE CASCADE;
GO
CREATE TABLE TB_KHACHHANG
(
	MAKHACHHANG CHAR(10) CONSTRAINT pk_KHACHHANG PRIMARY KEY,
	HODEM NVARCHAR(100) NOT NULL,
	TEN NVARCHAR(50) NOT NULL,
	SODIENTHOAI CHAR(10) NOT NULL,
	CHUNGMINHTHU CHAR(11) NOT NULL,
	DIACHI NVARCHAR(200) NOT NULL,
	UUDAI INT DEFAULT 5
)
GO
CREATE TABLE TB_HOADON
(
	SOHOADON INT IDENTITY(1,1) CONSTRAINT pk_HOADON PRIMARY KEY,
	NGAYTAO DATETIME NOT NULL,
	MAKHACHHANG CHAR(10) NULL,
	TONG FLOAT NOT NULL, 
	TONGSAUUUDAI FLOAT NULL
)
GO
ALTER TABLE TB_HOADON 
ADD CONSTRAINT fk_maKhachHang
FOREIGN KEY (MAKHACHHANG) REFERENCES TB_KHACHHANG(MAKHACHHANG)
ON DELETE CASCADE
ON UPDATE CASCADE;
GO
CREATE TABLE TB_CHITIETHOADON
(
	SOHOADON INT CONSTRAINT pk_CTHD PRIMARY KEY,
	MASACH CHAR(10) NOT NULL,
	SOLUONG INT NOT NULL
)
GO
ALTER TABLE TB_CHITIETHOADON
ADD CONSTRAINT fk_soHoaDon
FOREIGN KEY (SOHOADON) REFERENCES TB_HOADON(SOHOADON)
ON DELETE CASCADE
ON UPDATE CASCADE;
GO
ALTER TABLE TB_CHITIETHOADON
ADD CONSTRAINT fk_maSach
FOREIGN KEY (MASACH) REFERENCES TB_SACH(MASACH)
ON DELETE CASCADE
ON UPDATE CASCADE;
GO
CREATE PROCEDURE procedure_login
    @userName NVARCHAR(50),
    @password NVARCHAR(50)
AS 
BEGIN
    SELECT * FROM TB_TAIKHOAN WHERE TAIKHOAN = @userName and MATKHAU = @password
END
GO
CREATE TRIGGER update_tong_hoadon
ON TB_CHITIETHOADON
FOR INSERT, UPDATE, DELETE 
AS
BEGIN
    UPDATE TB_HOADON
    SET TONG = (SELECT SUM(TB_SACH.GIA * TB_CHITIETHOADON.SOLUONG)
                FROM TB_CHITIETHOADON
                INNER JOIN TB_SACH ON TB_CHITIETHOADON.MASACH = TB_SACH.MASACH
                WHERE TB_CHITIETHOADON.SOHOADON = TB_HOADON.SOHOADON)
END;
GO
INSERT INTO TB_QUYEN VALUES(1, 'Admin'), (2, 'User')
GO
INSERT INTO TB_TAIKHOAN(TAIKHOAN, MATKHAU, MAQUYEN, HOTEN, NGAYSINH, DIACHI, EMAIL, GIOITINH, SODIENTHOAI) 
VALUES('admin1', 'admin1', 1, N'Hoàng Tuấn', '2001-12-29', N'113 An Dương Vương', 'tuanhoang12provipro@gmail.com', 1, '113'),
('hainv1', 'hainv1', 2, N'Huỳnh Ngọc Hải', '2003-02-02', N'03 Nha Trang Phan', 'haiprocute123@gmail.com', 1, '114'),
('tuyennv2', 'tuyennv2', 2, N'Gà Thị Tuyền', '2001-06-01', N'115 Kom Tom', 'tuyengaac99@yahoo.com', 0, '110'),
('admin2', 'admin1', 1, N'Hoàng Tuấn', '2001-12-29', N'113 An Dương Vương', 'tuanhoang12provipro@gmail.com', 1, '113');
GO
INSERT INTO TB_THELOAI VALUES('TN', N'Thiếu nhi'), ('LT', N'Lập trình'), ('KD', N'Kinh Dị'), ('KHVT', N'Khoa học viễn tưởng'), 
('SGK', N'Sách giáo khoa'), ('VH', N'Văn hóa'), ('DL', N'Du lịch'), ('GD', N'Giáo dục');
GO
GO